html, body{
    margin: 0;
    background-color: rgb(163, 163, 163);
    padding-bottom: 20px;
    font-family: Cambria;
}

.topnav {
    display:flex;
    align-items: center;
    background-color: #5c5a5ae0 ;
    padding: 10px 10px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
}


.topnav a {
    color: #FFFFFF;
    padding: 8px 28px;
    text-decoration: none;
    font-size: 25px;
    font-family: Cambria;
    border-radius: 10px;
}

.lefta a:hover {
    background-color: #A31319;
}

.topnav a.active {
    background-color: #A31319;
    color: #ffffff;
}

.ContactNav {
  font-family: Cambria;
  height: 770px;
  width: 300px;
  border-bottom: 6px solid #969493;
  border-right: 6px solid #969493;
  border-top: 6px solid #969493;
  margin-top: 20px;
  background-color: rgb(180, 180, 180);
}

.ContactNav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px;
  border-bottom: 6px solid #969493;
  font-size: 130%;
  width: 280px;
  background-color: rgb(180, 180, 180);
  text-align: left;
  border-right: 6px solid #969493;
}

.ContactNav a:hover {
background-color: #666;
display: block;
padding: 10px 10px 10px 15px;
font-size: 130%;
color: #FFf;
}

.ContactNav a.active {
  color: #000000;
  background-color: #838181;
  font-weight: bold;
}

.VertNavAbout {
  font-family: Cambria;
  height: 770px;
  width: 300px;
  border-bottom: 6px solid #969493;
  border-right: 6px solid #969493;
  border-top: 6px solid #969493;
  margin-top: 20px;
  background-color: rgb(180, 180, 180);
}

.VertNavAbout a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px;
  border-bottom: 6px solid #969493;
  font-size: 130%;
  width: 280px;
  background-color: rgb(180, 180, 180);
  text-align: left;
  border-right: 6px solid #969493;
}

.VertNavAbout a:hover {
        background-color: #666;
        display: block;
        padding: 10px 10px 10px 15px;
        font-size: 130%;
        font-weight: normal;
        color: #FFf;
}

.VertNavAbout a.active {
        color: #000000;
        background-color: #838181;
        font-weight: bold;
        font-family: inherit;
        font-weight: 600;
}

.imgbutton {
    background-color: rgb(172, 103, 103);
}

.imgbutton a {
    text-decoration: none;
    
}

.content {
  min-height: 60vh;
  padding: 20px;
  padding-bottom: 270px;
}

.map-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;

  text-align: center;
  padding-bottom: 5px;
  font-family: Cambria;
  font-size: 13px;
  background: #858282;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map-text a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.Gallery {
    text-align: center;
}

.contentvendor {
    display: inline-block;
    position: relative;
}

#slider {
  width: 550px;
  height: 550px;
  object-fit: cover;
}

.contentvendor h2 {
  font-family: Cambria;
    font-weight: 600;
    font-size: xx-large;
    color: rgb(172, 16, 16);
    position: absolute;
    right: 100%;
    width: 700px;
    top: -15%;
}

.contentvendor h1 {
position: absolute;
right: 100%;
top: -6%;
width: 700px;
font-family: Cambria;
}

.Brownie {
    width: 600px;
    height: 100px;
    position: absolute;
    right: 70%;
    margin-right: 200px;
  top: 5%;
}

.contentvendor h3 {
    font-family: Cambria;
    position: absolute;
    right: 100%;
    width: 700px;
    top: 22%;
    font-size: xx-large;
}

.FineThings {
    width: 600px;
    height: 100px;
    position: absolute;
    right: 70%;
    margin-right: 200px;
    top: 35%;
}
.contentvendor #caption {
    background-color: rgb(192, 194, 194);
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: -3%;
    left: 100%;
    margin-left: 20px;
    width: 250px;
    text-align: left;
    font-weight: 600;
    font-family: Cambria;
}

.Buttons {
    margin-top: 10px;
}

.Buttons button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #858282;
}

.Buttons button:hover {
    background-color: #616060;
}
.vendorphotoname {
    text-align: center;
}

.vendorphotoname h1 {
    font-family: Cambria;
    font-weight: 600;
    font-size: medium;
    color: rgb(0, 0, 0);
}

.Text h2 {
    font-family: Cambria;
    font-weight: 600;
    font-size: x-large;
    margin-bottom:0px;
}

.Text {
    font-family: Cambria;
    background-color: #dddada00;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.Text  {
        line-height: 1.6;
        font-size: larger;
        font-family: Cambria;
}

h6 {
    text-align: center;
    font-family: Cambria;
    font-weight: 600;
    font-size: x-large;
    margin-top: 30px;
}

.content-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px 20px 20px;
    margin-top: -800px;
    margin-left: 300px;
}

.center-text {
    flex: 2;
    text-align: center;
    font-size: 18px;
}

.right-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-images img {
    width: 50%;
    border-radius: 8px;
}

.SitemapHeader {
    margin-left: 830px;
    font-size: x-large;
    color: black;
}

.SitemapHeader a {
    color: #0000ff;
}

.SitemapHeader h1 {
    color: #BA2628;
}

.MediaPageTitle {
    text-align: center;
}
 .containerMedia {
display: flex;  
margin-left: 100px;
}

  .box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
  }

.fade-container {
  position: relative;
  width: 50%;
  height: 600px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.fade-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 25s infinite;
}


.fade-img:nth-child(1) { animation-delay: 0s; }
.fade-img:nth-child(2) { animation-delay: 5s; }
.fade-img:nth-child(3) { animation-delay: 10s; }
.fade-img:nth-child(4) { animation-delay: 15s; }
.fade-img:nth-child(5) { animation-delay: 20s; }

@keyframes fade {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  20%  { opacity: 1; }
  25%  { opacity: 0; }
  100% { opacity: 0; }
}

.HomeText {
justify-content: center;
text-align: center;
font-size: 30px;
font-weight: 600;
color: #A31319;
-webkit-text-stroke: 0.9px #000000;}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-banner {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.top-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.overlay {
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  margin-left: 10px;
}


.overlay h1 {
  font-size: 32px;
  margin-top: -180px;
  margin-left: 10px;
  color: rgb(255, 9, 9);
  -webkit-text-stroke: 0.9px #000000;
}

.overlay p {
    margin-left: -5px;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-top: -10px;
}

.button {
  display: flex;
  gap: 12px;
}

.button button {
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

main {
  padding: 20px;
}

.top-banner:before {
  content: "";
  position: absolute;
  width: 50%;            
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),  
    rgba(0, 0, 0, 0)     
  );
}

table, th, td {
  border:1px solid black;
}

.visinfogrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.vl {
  border-left: 6px solid rgb(124, 124, 124);
  height: 100%;
  position: absolute;
  left: 33.33%;
}

.vl1 {
  border-left: 6px solid rgb(124, 124, 124);
  height: 100%;
  position: absolute;
  left: 66.66%;
}


.ContactUsMain {
width: 68%;
margin-top: -800px;
margin-left: 320px;
font-size: 30px;
}

.ContactUsMain h1 {
  color: #A31319;
  font-weight: 600;
}

.socialmedias img {
  height: 200px;
  width: 200px;
}

.socialmedias {
  margin-left: 310px;
  margin-top: 20px;
}

.maplocation {
  margin-left: 1000px;
  margin-top: -38%;
}


.ParkingPage h1 {
  margin-top: -40%;
  color: #A31319;
  font-weight: 600;
margin-left: 50%;}

.parking1 {
  margin-left: 17.6%;
  margin-top: 3%;
}

.parking2 {
  margin-left: 1%;
}

.HeadersParking {
  color: #000000;
}

.HeadersParking h2 {
  margin-top: -34%;
  margin-left: 32.4%;
  font-size: 25px;
}

.HeadersParking h3 {
  margin-top: -2.5%;
  margin-left: 72.8%;
  font-size: 25px;
}


.aboutuscontent {
    margin-top: -800px;
    text-align: center;}
